.card {
    padding: 4px;
    margin: 4px;
    
}
.card-title {
    text-align: center;
}

.card-img-top {
    max-height: 175px;
    object-fit: contain;
}


.btn {
    /* want to center button */
}
